<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<div class=row>
    <div class="foo orange" style="width: 20px;  height: 20px;"></div>
    <div class="foo blue" style="width: 20px;  height: 20px;"></div>
    <div class="foo cyan" style="width: 20px;  height: 20px;"></div>
</div>

<div class=row>
    <div class="foo blue" style="width: 20px;  height: 20px;"></div>
    <div class="foo orange" style="width: 20px;  height: 20px;"></div>
    <div class="foo red" style="width: 20px;  height: 20px;"></div>
</div>

<div class=row>
    <div class="foo green" style="width: 20px;  height: 20px;"></div>
    <div class="foo purple" style="width: 20px;  height: 20px;"></div>
    <div class="foo yellow" style="width: 20px;  height: 20px;"></div>
</div>
</body>
</html>